body
{
background-image: url(images/coffee.jpg);
font-family: 'Times New Roman', Times, serif;
}
#nav
{
background-color: rgba(172, 168, 168, 0.521);
border: darkgray 5px solid ;
display: flex; 
justify-content: space-between
}
#img
{
    display: flex;
    height: 200px;
justify-content: space-evenly;
}
#head
{ 
display: flex;
justify-content: center;
}
#main
{
    background-color: rgba(199, 118, 85, 0.623);
    border: darkgray 5px solid
    display flex;
    justify-content: center;
}
#foot
{
    background-color: rgba(172, 168, 168, 0.521);
    display: flex;
    justify-content: space-around;
 }
 #price
 {
background-color: rgba(199, 118, 85, 0.623);
font-size: medium;
font-weight: bold;
display: flex;
justify-content: space-evenly;
 }